@font-face {
    font-family: 'Optima';
    font-style: normal;
    font-weight: normal;
    src: local('Optima'), url('fonts/OPTIMA.woff') format('woff');
}

@font-face {
    font-family: 'Optima Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Medium'), url('fonts/Optima\ Medium.woff') format('woff');
}

@font-face {
    font-family: 'Optima Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Bold'), url('fonts/OPTIMA_B.woff') format('woff');
}
@font-face {
    font-family: 'Optima Cyr';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Cyr'), url('fonts/optima-cyr.ttf') format('truetype');
}
/*roots and global styles*/
:root{
    --optima-normal: 'Optima', sans-serif;
    --optima-medium: 'Optima Medium', sans-serif;
    --Josefin-Sans: 'Josefin Sans', sans-serif;
    --color-corp: #314385;
    --color-grey: #D9D9D9;
    --background-grey: #F0F0F0;
    --optima-cyr: 'Optima Cyr', sans-serif;
}
body {
    font-family: var(--optima-normal);
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.ff-josefin{
    font-family: var(--Josefin-Sans);
}
.ff-optima-medium{
    font-family: var(--optima-medium);
}
.fs-section-title{
    font-size: 20px;
}
.ff-optima-cyr{
    font-family: var(--optima-cyr);
}
.text-grey{
    color: var(--color-grey);
}
.text-corp{
    color: var(--color-corp);
}
.bg-corp{
    background: var(--color-corp);
}
.bg-grey{
    background: var(--background-grey);
}
.strocked-text{
    -webkit-text-stroke: 0.5px white;
}
.btn{
    background: var(--color-corp);
    padding: 10px 60px;
    color: white;
    border-radius: 0;
    font-size: clamp(16px, 1.35vw, 28px);
}
.btn:hover {
    background: var(--color-corp);
    color: white;
    text-decoration: underline;
}
.dropdown-menu.mega-menu{
    left: 0;
    border-radius: 0;
    border: none;
    background: var(--color-corp);
    color: white;
}
.dropdown-hover>.dropdown-toggle:active {
    pointer-events: none;
}
.dropdown-toggle::after{
    display: none;
}
.nav-link, .megamenu-link{
    text-decoration: underline;
    font-size: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem);
}
.navbar-toggler-icon{
    background-image: url('icons/burger-icon.svg');
}
.navbar-toggler:focus{
    box-shadow: none;
}
.w-sm-30{
    width: 30%;
}
.w-sm-50{
    width: 50%;
}
.w-lg-90{
    width: 90% !important;
}
.w-lg-80{
    width: 80%;
}
.w-fit-content{
    width: fit-content;
}
.text-balance{
    text-wrap: balance;
}
.slider-btn-box{
    bottom: -20px;
}
.gy-6 {
    --bs-gutter-y: 5rem;
}
.mt-6{
    margin-top: 3.7rem;
}
/*typography*/
.fs-title {
    font-size: clamp(18px, 1.6vw, 46px);
}
.fs-title-2{
    font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
}
.fs-paragraph{
    font-size: clamp(1.125rem, 0.95rem + 0.875vw, 2rem);
}
.fs-paragraph-2{
    font-size: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem);
}
.fs-paragraph-3{
    font-size: clamp(1.125rem, 1rem + 0.625vw, 1.75rem);
}
.fs-paragraph-4{
    font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
}
.fs-paragraph-5{
    font-size: clamp(0.875rem, 0.65rem + 1.125vw, 2rem);
}
.fs-paragraph-6{
    font-size: clamp(0.875rem, 0.725rem + 0.75vw, 1.625rem);
}
.fs-footer-link{
    font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
}
.fs-span{
    font-size: 14px;
}
.fs-span-2{
    font-size: 16px;
}
.fs-icon{
    font-size: 30px;
}
.bg-black-blur{
    position: relative;
}
.bg-black-blur::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(30.39999389648438px);
    background: #000;
    opacity: 0.97;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.text-limit{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}
/*styles*/
.main-header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
}
.main-header .nav-link{
    color: white;
}
.bg-wave{
    background: url('images/home-page/wave.png') no-repeat center/cover;
}
.number{
    font-size: 90px;
    color: white;
    background: var(--color-corp);
    padding: 20px 40px;
}
.map{
    width: 100%;
    height: 80%;
}
.icon-img{
    width: 100px;
    height: 100px;
}
.blue-img-bg{
    background-color: var(--color-corp);
    border-radius: 50%;
    width: fit-content;
    padding: 20px;
    top: -25%;
    left: 50%;
    transform: translate(-50%);
}

.blue-img-bg{
    background-color: var(--color-corp);
    border-radius: 50%;
    width: fit-content;
    padding: 20px;
}
.about-info-box{
    top: 0;
    left: 0;
    z-index: 3;
}
.border-info-box{
    border-left: 3px solid var(--color-corp);
}
.timeline {
    position: relative;
    margin: 0 auto;
}
.main-page-toggler{
    filter: contrast(0%) brightness(2);
}
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: var(--color-corp);
    top: 15px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container-timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container-timeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -11px;
    background-color: var(--color-corp);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.container-timeline.right{
    margin-top: -120px;
}
.container-timeline.left {
    margin-top: -120px;
}
.container-timeline.left:first-of-type{
    margin-top: unset;
}
.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #F2F2F2;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #F2F2F2 transparent transparent;
}

.right::after {
    left: -16px;
}
.content {
    padding: 20px 30px;
    background-color: #F2F2F2;
    position: relative;
    border-radius: 6px;
}
/* .img-hover-scale{
    transition: all 0.3s ease;
}
.img-hover-scale:hover{
    transform: scale(1.1);
} */
/*breackpoints*/
@media (min-width: 1650px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1620px;
    }
}
@media (max-width: 990px) {
    .w-sm-30 {
        width: 50%;
    }
    .map {
        height: 300px;
    }
    .w-sm-fit-content{
        width: fit-content;
    }
    .w-lg-80 {
        width: 100%;
    }
    .lg-transform{
        transform: rotate(90deg);
    }
    .dropdown-menu.mega-menu {
        background: transparent;
        color: unset;
    }
    .border-info-box {
        border-top: 3px solid var(--color-corp);
        border-left: unset;
    }
    .container-timeline{
        width: 100%;
        z-index: 5;
    }
    .container-timeline.right, .container-timeline.left{
        margin-top: 120px;
    }
    .right {
        left: unset;
    }
    .left::before, .right::before {
        transform: rotate(90deg);
        top: unset;
        bottom: -5px;
        right: unset;
        width: 0;
        z-index: 9999;
        left: 49%;
        border: medium solid #F2F2F2;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent #F2F2F2;
    }
    .timeline::after{
        margin-left: 0;
        width: 1px;
        
    }
    .container-timeline::after{
        top: unset;
        right: unset;
        bottom: -70px;
        width: 21px;
        height: 21px;
        left: 50%;
        right: unset;
        transform: translate(-50%);
    }
    .collapse-dark.show {
        opacity: 1;
    }
        
    .collapse-dark {
        background: var(--color-corp);
        opacity: 0;
        transition: all 0.3s ease;
    }
    
    .collapse-dark .megamenu-link {
        color: white;
    }
}
@media (max-width: 576px){
    .h-sm-large{
        height: 300px;
    }
    .logo{
        width: 200px;
    }
    .navbar-toggler-icon {
        width: 1.2rem;
        height: 1.2rem;
    }
    .btn{
        padding: 6px 30px;
    }
    .w-sm-30 {
         width: 100%;
    }
    .number{
        font-size: 60px;
    }
    .bg-wave {
        background: url('images/home-page/wave-mobile.png') no-repeat left top / 100% auto ;
    }
    .bg-wave-center.bg-wave {
        background: url('images/home-page/wave-mobile.png') no-repeat center / 100% auto;
    }
    .fs-span-2 {
        font-size: 14px;
    }
    .fs-icon {
        font-size: 25px;
    }
    .footer-logo{
        width: 250px;
    }
    .container-timeline{
        padding: 10px 0px;
    }
}
@media(max-width: 420px){
    .mt-6 {
        margin-top: 4.2rem;
    }
}